@tailwind base;
@tailwind components;
@tailwind utilities;

.AccordionChevron {
  transition: transform 300ms;
}
div[data-state="open"] > * .AccordionChevron {
  transform: rotate(180deg);
}

@layer components {
  .link-md {
    @apply inline-flex items-center gap-1 text-[14px] font-medium text-indigo-700 hover:text-indigo-800 focus:outline-indigo-200 disabled:text-neutral-400;
  }
  .link-lg {
    @apply inline-flex items-center gap-1.5 text-base font-medium text-indigo-700 hover:text-indigo-800 focus:outline-indigo-200 disabled:text-neutral-400;
  }
  .link-xl {
    @apply inline-flex items-center gap-2 text-base font-medium text-indigo-700 hover:text-indigo-800 focus:outline-indigo-200 disabled:text-neutral-400;
  }
  .link-2xl {
    @apply inline-flex items-center gap-2.5 text-lg font-medium text-indigo-700 hover:text-indigo-800 focus:outline-indigo-200 disabled:text-neutral-400;
  }

  /* Link Gray */
  .link-gray-md {
    @apply inline-flex items-center gap-1 text-[14px] font-medium text-neutral-600 hover:text-neutral-700 focus:outline-indigo-200 disabled:text-neutral-400;
  }
  .link-gray-lg {
    @apply inline-flex items-center gap-1.5 text-base font-medium text-neutral-600 hover:text-neutral-700 focus:outline-indigo-200 disabled:text-neutral-400;
  }
  .link-gray-xl {
    @apply inline-flex items-center gap-2 text-base font-medium text-neutral-600 hover:text-neutral-700 focus:outline-indigo-200 disabled:text-neutral-400;
  }
  .link-gray-2xl {
    @apply inline-flex items-center gap-2.5 text-lg font-medium text-neutral-600 hover:text-neutral-700 focus:outline-indigo-200 disabled:text-neutral-400;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-background {
  background: linear-gradient(148deg, #f9fafb 8.89%, #d2d6db 100.48%);
}

.custom-shadow {
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
